<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Multilingual dictionary of phraseological synonyms</title>
</head>
<BR>


K-means classifier
<form method="post" name="select_lang_submission_form" action="{{url_for('update_options')}}">
    <div class="form-group">
        <input type="hidden" name="delete_input"/>
    </div>
    <label for="select_language" id="select_interface_language"> Select interface language</label>
    <select type="submit" id="select_language" name="select_language" onChange="this.form.submit();">
        <option value="ukrlang" id="elem_id_language_0">Українська</option>
        <option value="engllang">English</option>


        <option value="ruslang">Русский</option>
    </select>

    <label for="select_clusters_number" id="select_clusters_number_label"> Select number of clusters</label>
    <select type="submit" id="select_clusters_number" name="select_clusters_number" onChange="this.form.submit();">
        <option value="init" id="select_clusters_number_opt">20</option>

        <option value="20">20</option>

        <option value="40">40</option>
        <option value="60">60</option>
    </select>


    <label for="select_subclusters_number" id="select_subclusters_number_label"> Select number of subclusters</label>
    <select type="submit" id="select_subclusters_number" name="select_subclusters_number"
            onChange="this.form.submit();">
        <option value="init" id="select_subclusters_number_opt">50</option>
        <option value="50">50</option>

        <option value="100">100</option>
        <option value="150">150</option>
            <option value="150">200</option>
            <option value="150">250</option>
    </select>


    <p>


</form>

<button id="btn_clear">Сlear results</button>
</BR>

<label for="select_descriptor_k_means" id="select_descriptor_k_means_label">Select descriptor k_means</label>
<select name="select_descriptor_k_means" id="select_descriptor_k_means">

    <option value="centroids" id="elemId_0_k_means"></option>

</select>


<label for="select_subdescriptor_k_means" id="labl_select_subdescriptor_k_means_label">Select subdescriptor
    k-means</label>
<select name="select_subdescriptor_k_means" id="select_subdescriptor_k_means">

    <option value="centroids" id="elemId_0_k_means_sub"></option>

</select>
</p>


<BR/>

<table style="width:100%">
    <tr>
        <div id="div_ideas_k_means" class="centralDiv">

        </div>
        <BR/>
    </tr>
    <tr>
        <div id="div_phrases_k_means" class="centralDiv">

        </div>
    </tr>


</table>
</BR>

Hierarchical spicy classifier
</BR>
<label for="select_descriptor_hierarchical" id="select_descriptor_hierarchical_label">Select descriptor</label>
<select name="select_descriptor_hierarchical" id="select_descriptor_hierarchical">

    <option value="centroids" id="elemId_0_hierarch"></option>

</select>

<label for="select_subdescriptors_hierarchical" id="lab_select_hiererchical_label">Select subdescriptor (hierarchical
    spicy)</label>
<select name="select_subdescriptors_hierarchical" id="select_subdescriptors_hierarchical">

    <option value="centroids" id="elemId_0_hierarch_lev2"></option>

</select>


<table style="width:100%">
    <tr>
        <div id="div_ideas_hierarchical" class="centralDiv">

        </div>
        <BR/>
    </tr>
    <tr>
        <div id="div_phrases_hierarchical" class="centralDiv">

        </div>
    </tr>


</table>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="http://code.jquery.com/jquery-1.11.1.min.js"></script>

<script type=text/javascript>

    var json_subdescriptors_phrases_k_means = {{json_kmeans_subdescriptors_phrases|safe}};
    ;
    var json_descriptors_subdescriptors_k_means = {{json_k_means_descriptors_subdescriptors|safe}};
    ;
    var json_subdescriptors_phrases_hierarchical = {{json_subdescriptors_phrases_hierarchical|safe}};
    ;
    var json_descriptors_subdescriptors_hierarchical = {{json_descriptors_subdescriptors_hierarchical|safe}};
    ;
    var clusters_number = {{clusters_number|safe}};
    ;
    var subclusters_number = {{subclusters_number | safe}};

</script>

<script src="static/js/output_phrases.js"></script>

</body>

</html>