<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Multilingual dictionary of phraseological synonyms</title>
</head>
<body>


K-means classifier
<form method="post" name="select_lang_submission_form" action="{{url_for('get_language')}}">
     <div class="form-group">
        <input type="hidden" name="delete_input"/>
    </div>

 <select  type="submit" id="select_language" name="select_language" onChange="this.form.submit();" >
   <option value="init" id="elem_id_language_0">Select language</option>
            <option value="engllang">English</option>

            <option value="ukrlang" >Українська</option>
           <option value="ruslang" >Русский</option>
        </select>
     <label for= "select_language" id = "lab_lSelectLang" > Select interface language</label>

        <p>



</form>

<button id="btn_clear">Сlear</button>


        <select name="select_descriptor_k_means" id="select_descriptor_k_means">
  <option value="centroids" id="elemId_0_k_means">Select descriptor</option>


        </select>



        <label for= "select_descriptor_k_means" id = "labl_select_centroid" >Select descriptor</label>

<select name="select_subdescriptor_k_means" id="select_subdescriptor_k_means">

  <option value="centroids" id="elemId_1_k_means">Select subdescriptor</option>

        </select>
            </p>


            <BR/>

<table style="width:100%">
       <tr>
      <div id="div_ideas_k_means" class="centralDiv">

          </div>
             <BR/>
  </tr>
  <tr>
    <div id="div_phrases_k_means" class="centralDiv">

        </div>
  </tr>


</table>


Hierarchical spicy classifier

   <select name="select_descriptor_hierarchical" id="select_descriptor_hierarchical">

            <option value="centroids" id="elemId_0_hierarch">Select descriptor</option>

        </select>
<label for= "select_descriptor_hierarchical" id = "lab_select_hiererchical">Select descriptor</label>

  <select name="select_subdescriptors_hierarchical" id="select_subdescriptors_hierarchical">

            <option value="centroids" id="elemId_0_hierarch_lev2">Select subdescriptor</option>

        </select>

<label for= "select_subdescriptors_hierarchical" id = "lab_select_hiererchical_lev2" >Select subdescriptor</label>



<table style="width:100%">
       <tr>
      <div id="div_ideas_hierarchical" class="centralDiv">

          </div>
             <BR/>
  </tr>
  <tr>
    <div id="div_phrases_hierarchical" class="centralDiv">

        </div>
  </tr>


</table>
            <script     src = "//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js" ></script>
        <script type="text/javascript" src="http://code.jquery.com/jquery-1.11.1.min.js"></script>

             <script type=text/javascript>

                  var json_subdescriptors_phrases_k_means = {{json_kmeans_subdescriptors_phrases|safe}};
                  var json_descriptors_subdescriptors_k_means = {{json_k_means_descriptors_subdescriptors|safe}};
                  var json_subdescriptors_phrases_hierarchical = {{json_subdescriptors_phrases_hierarchical|safe}};
                  var json_descriptors_subdescriptors_hierarchical = {{json_descriptors_subdescriptors_hierarchical|safe}};

                </script>

            <script src="static/js/output_phrases.js"></script>

</body>

        </html>